* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.hero{
  background-color: #94acb9;
  background-image: url(../davaleba2/budha.jpg);
  color: #fff;
  padding-top: 100%;
  padding-bottom: 0x;
  background-size: cover;
  margin: auto;
  padding: auto;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.toggle{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.toggle.active{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}

.showcase{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}

.showcase.active{
  right: 700px;
}
.showcase image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 10;
}

.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay; 
}
.text
{
  position: relative;
  z-index: 10;
}

.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  z-index: 10;
}
.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  z-index: 10;
}
.text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  z-index: 10;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
  z-index: 10;
}
.text a:hover
{
  letter-spacing: 6px;
}
.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}

body{
  background-image: url(../budha.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* */ 
.register{
  width: 174px;
  margin: -18px auto;
  position: relative;
  align-items: flex-end;

}
.register input{
  width: auto;
  padding: 14px ;
  margin-bottom: 17px;
  position: relative;
  align-items: center;
  

}


.social li a:hover
{
  transform: scale(0.3) translateY(+25px);
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: right;
  display: flex;
  margin-top: 5px;
}
.menu ul
{
  position: relative;
  display: flex;
  gap: var(--gap, 2rem);
  justify-content: space-between;
}
.menu ul li
{
  list-style: none;
  
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: rgb(199, 188, 188);
  padding: 10px;
  margin-top: 10px;
  padding-top: 10px;
  
}
.menu ul li a:hover
{
  color: #1c6f95; 
}

@media (max-width: 991px){
  .showcase, .showcase header{
    padding: 40px;
  }
  
  .text h2{
    font-size: 3em;
  }

  .text h2{
    font-size: 3em;
  }

  .text h2{
    font-size: 3em;
  }
}

.h1{
  color: #fff;
  z-index: 20;
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}

.menu{
  position: fixed;
  padding: min(20vh, 10rem) 2em;
  
}

/*
.ruka{
  margin: 0 auto;
}
.owl-theme .owl-nav{
  position: absolute;
  top:80px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

}
.owl-theme .owl-nav [class*=owl-]{
  font-size: 60px!important;
}
.owl-theme .owl-nav [class*=owl-]:hover{
  background: rgba(0, 0, 0, 0);
  color: #555;
}

*/

.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #877e7e;
  z-index: 9;
}


.form-container {
  max-width: 300px;
  padding: 20px;
  background-color: rgb(117, 110, 110);
}


.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #908686;
  resize: none;
  min-height: 200px;
}


.form-container textarea:focus {
  background-color: rgba(62, 81, 38, 0.675);
  outline: none;
}


.form-container .btn {
  background-color: #04AA6D;
  color: rgb(155, 151, 151);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}


.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.open-button {
  background-color: rgb(152, 59, 35);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 2px;
  right: 2px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}


.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}


.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}


.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}


.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}


.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.map{
  margin: 0 auto;

}